.content-fav{
  background-color: white;
  border-radius: 1rem;
  position: static;
  box-shadow: 0px -1px 10px 0px $secondary;
}

.container-fav{
  border-radius: 45px;
  height: 450px;
}

.veggie-ronded{
  border-radius: 1rem;
  width: 150px;

  img{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .card-body{
    position: absolute;
    top: 45px;
    background-color: rgba($primary,0.4);
  }
  &::after {
    background: rgba(0,0,0,0.7);
    content: '';
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 300ms ease-in;
    width: 100%;
  }

  &:hover::after, &:hover .card-body{
    opacity: 1;
  }
}

.vl {
  border-left: 2px solid rgba($primary,0.4);
  border-radius: 2rem;
  height: 40px;
  margin-left: 5px
}

#popup-fav{
  border: 5px solid $dark-blue-vege;
  border-radius: 50px;
  width: 40px;
  margin: auto;
}

#img_main-fav{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px -1px 10px 0px $secondary;
}
