// Specific CSS for your home-page

body {
  padding-bottom: 10vh !important;
  background-color: white;
}


.logo img{
  width: 140px;
}


#scanbar{
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
}

.image-home {
  width: 100%;
  position: center;
}
