.content-list{
  background-color: white;
  border-radius: 1rem;
  position: static;
  box-shadow: 0px -1px 10px 0px $secondary;
}

.container-list{
  border-radius: 45px;
}


.img_list {
  padding: 0.2rem;
  font-size: 0.4rem;
  color: $red-vege;
}
