
.title {
  color: $green-vege;
  font-size: 20px;
  font-weight: 600;

}

.name-input {
  box-shadow: 0 0 0 0.1rem $grey-vege;
  // display: inline-block !important;
}

.url-input {
  box-shadow: 0 0 0 0.1rem $grey-vege;
}

.title-2 {
  color: $dark-blue-vege;
  font-size: 17px;
  font-weight: 600;
}

.cancel {
  color: red;
  text-decoration: none;
}

.icon-new{
  font-size: 2rem;
  color: $grey-vege;
  background-color: white;
}
