.content{
  background-color: white;
  height: max-content;
  border-radius: 45px;
  position: absolute;
  top: 350px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.main-img{
  position: fixed;
  background-attachment: scroll;

}

.step{
  overflow-y: scroll;
}
#img_main{
  object-fit: cover;
  height: 400px;
  position: sticky;

  // width: 100%;
}

#popup{
  border: 5px solid $dark-blue-vege;
  border-radius: 50px;
  width: 40px;
  margin: auto;
}

#step{
  margin-bottom: 7rem;
}

.fa-regular.fa-heart{
  color: white;
}

.fa-solid.fa-heart{
  color: red
}

#heart{
  position:absolute;
  left: 300px;
  top: 25px;
  font-size: 2.5rem;
  z-index: 1;
  padding: 0.35rem;
  border-radius: 10%;
  background-color: rgba($dark-blue-vege, .2);
  &:hover {
    transform: scale(1.1);
    transition: all ease 500ms;
  }
}
