<div class="container">

<div class="row justify-content-center">
    <div class="search input-group mb-3 border rounded-pill border-0">
      <div class="input-group-prepend">
        <i class="icon fa fa-search input-group-text border-0"></i>
      </div>
      <input type="text" class="form-control border-0" placeholder="Rechercher une recette veggie" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>

<div class="row row-cols-1 row-cols-sm-2 g-3 mb-4">
<% @recipes.each do |recipe| %>
<div class="col-6">
  <div class="card rounded m-3">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <div class="row align-items-center">
    <h5 class="col-6 card-title text-uppercase" style="font-weight: bold;">recipe</h5>
    <div class="col-6 text-end">
         <%= image_tag("co2-cloud.png", class: "img-fluid" ) %>
        </div>
      </div>
       <%= image_tag("timer.png", class: "img-fluid" ) %>
    <p class="card-text mt-3"><span style="font-weight: bold;"> 30 min</span></p>

    <%= image_tag("difficulty.png", class: "img-fluid" ) %>

     <%= recipe.difficulty %>

    <div class="text-center mt-3">
      <a href="#" class="button-veggie px-4 py_2">Go</a>
    </div>
  </div>
  </div>
</div>
<% end %>
</div>
</div>
