<div data-controller="sweet-alert" data-sweet-alert-message-value="Déjà <%=  ((@recipe.co2 - @recipe.co2_traditional) /  @recipe.co2_traditional.to_f * 100).round %> % de Co2 économisés " data-sweet-alert-redirect-url-value="<%= dashboards_path %>" >
</div>
