<div class="container">
  <h1>Pages#components</h1>
  <p>Voici ici la liste des composants pour notre app</p>
  <div class="text-center mt-3">
    <a href="#" class="button-veggie">button-veggie</a>
  </div>
  <div class="text-center mt-3">
  <a href="#" class="button-veggie-100">button-veggie-100</a>
  </div>


  <div class="row vcard-index mt-3">
    <div class="col-12">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    </div>
    <%# <div class=" align-items-center vcard-index-infos "> %>
      <div class="col-6">
        <h2>Recipe</h2>
      </div>
      <div class="col-6">
        <%= image_tag("co2-cloud.png", class:"vcard-co2") %>
      </div>
    <%# </div> %>
  </div>
</div>
