<div class="container">
  <h1>Pages#components</h1>
  <p>Voici ici la liste des composants pour notre app</p>
  <div class="text-center mt-3">
    <a href="#" class="button-veggie">button-veggie</a>
  </div>
  <div class="text-center mt-3">
  <a href="#" class="button-veggie-100">button-veggie-100</a>
  </div>

<div class="card rounded m-3">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="...">
  <div class="card-body row">
    <h5 class="col-6 card-title">recipe.co2</h5>
    <%= image_tag("co2-cloud.png", class:"col-6") %>
    <p class="card-text">durée</p>
    <div class="text-center">
      <a href="#" class="button-veggie">Go</a>
    </div>
  </div>
</div>
