
<div class="container bg-white">
  <div class="text-center">
    <%= link_to "/", class: "logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div class="text-center">
    <p class="text-body-color">Manger végétal, agir pour la planète :
    réduisons ensemble notre empreinte carbone !
    </p>
  </div>

  <div class="row justify-content-center">
    <div class="text-center mt-1 p-0">
      <a href="/recipes/new" class="button-veggie-100">Je végétalise une recette existante !</a>
    </div>
  </div>

  <div class="image-home row justify-content-center">
      <%= image_tag "home_image_3.png" %>
  </div>

  <div class="row justify-content-center m-2" id="scanbar">
    <div class="search input-group border rounded-pill border-0">
      <div class="input-group-prepend">
        <i class="icon fa fa-search input-group-text border rounded-pill border-0"></i>
      </div>
      <input type="text" class="form-control rounded-pill border-0 " placeholder="Rechercher une recette veggie" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
</div>
