<div class="container">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="text-center">
<a href="#" class="button-veggie">button-veggie</a>
</div>
<div class="text-center  mt-3">

<a href="#" class="button-veggie-100">button-veggie-100</a>
</div>

</div>
