

    <div class="Container">
    <%= link_to "/", class: "logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>
<h4 class="text-center fw-light">Manger végétal, agir pour la planète :
réduisons ensemble notre empreinte carbone !
</h4>
</div>
