.vcard-index{
  width: 150px;
  box-shadow: 0 0 15px $dark-blue-vege;
  img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  }
  h2 {
    font-size: 1rem;
  }
  .vcard-index-infos {
    border: 2px solid red;
    background-color: white;

    .vcard-co2{
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }
}

.card{
  width: 10rem;
  border: none;
}

.card-body{
  margin-left: 0;
  padding: 0;
  margin-top: 0.25rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  h5{
    padding: 0.125rem;
    font-size: 1rem;
  }

  img{
    padding: 0.125rem;
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding: 0;

  a{
    margin: 0.125rem;
  }
  }
}

.card-text{
  margin-bottom: 0;
}

.card-recipe-co2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 45%;
  background-color: #1FCC79;
  padding: 2,5rem;

  img {
    width: 30px;
    height: 30px;
  }
}

.d-flex{
  gap: 1rem;
  display: flex;

.icon-container{
  display: flex;
  align-items: center;
  gap: 0,5rem
}

img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
}

.upload-card{
  border: 3px dashed $grey-vege;
  border-radius: 15px;
}
