.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $gray;
  z-index: 2;
  .active{
   color: $primary;
  }
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#scan{
  font-size: 4rem;
  color: white;
  border-radius: 50%;
  background-color: $primary;
  padding: 15px;
  position: absolute;
  bottom: 10px;
  right: 40%;
}
